doctype 5
html
  head
    title #{upperName} Lindsey&apos;s webpage

    //- TODO: ?? <meta name="description" content="Levi Lindsey&apos;s personal webpage">
    //- TODO: ?? <meta name="viewport" content="width=device-width">

    link(rel='shortcut icon', href='/images/favicon.css')
    link(rel='stylesheet', href='/stylesheets/profile.css')
  body
    #contentColumn
      #banner
        #titleCircle
          img(src='../img/#{lowerName}_circle.png', alt='Circle')
          h1 #{name}<br>Lindsey

          a#ribbon(href='#{ribbonLink}'): img(src='../images/#{lowerName}_ribbon.png', alt='#{ribbonAlt}')

        #internalLinks
          - var profilePages = [{link: 'about', name: 'About'}, {link: 'projects', name: 'Projects'}, {link: 'resume', name: 'Resume'}, {link: 'follow', name: 'Follow Me'}, {link: '../', name: 'J &amp; L Home'}];
          ul
            each var in profilePages
              li: a(href='./#{var.link}') #{var.name}

      #mainArea
        block content